/* --------------------------------
// BASE
-------------------------------- */


// Typography
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
$font-family-sans-serif:					'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// COLORS
$green1: 														#27ae60;
$green2:														#2ecc71;

// BODY
$body-bg: 													$green1;


/* --------------------------------
MODULES 
-------------------------------- */

// NAVBAR STUFF
$navbar-default-bg:          				white;
$navbar-default-link-color: 				#95a5a6;
$navbar-default-link-hover-color: 	#7f8c8d;
$brand-primary:              				purple;
$navbar-default-brand-color: 				$green1;
$navbar-default-brand-hover-color: 	$green2;
$brand-primary:											$green1;
$jumbotron-bg: 											white;

// BOOTSTRAP
@import 'bootstrap';


.asada-navbar {
	// border-radius: 0;
	// margin-bottom: 0;
	background-color: white;
}

.jumbotron {
	text-align: center;
}